aiofile==3.9.0
amazon-transcribe==0.6.2
awscrt==0.16.26
boto3==1.35.26
botocore==1.35.26
caio==0.9.17
Cython==3.0.11
docutils==0.21.2
jmespath==1.0.1
numpy==2.1.1
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
pillow==10.4.0
PyAudio==0.2.14
pyobjc-core==10.3.1
pyobjc-framework-Cocoa==10.3.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.16.1
python-dateutil==2.9.0.post0
s3transfer==0.10.2
screeninfo==0.8.1
six==1.16.0
urllib3==2.2.3
